{% extends 'base.html.twig' %}

{% block title %}Members{% endblock %}

{% block body %}
    <h1>Members</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ member.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ member.name }}</td>
            </tr>
            <tr>
                <th>Student_id</th>
                <td>{{ member.studentId }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ member.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ member.phone }}</td>
            </tr>
            <tr>
                <th>Join_date</th>
                <td>{{ member.joinDate ? member.joinDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Birth_day</th>
                <td>{{ member.birthDay ? member.birthDay|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_members_index') }}">back to list</a>

    <a href="{{ path('app_members_edit', {'id': member.id}) }}">edit</a>

    {{ include('members/_delete_form.html.twig') }}
{% endblock %}
