{{ form_start(form) }}
<div class="row">
    <div class="col-md-6 mb-3">
        {{ form_label(form.name, 'Activity Name', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-md-6 mb-3">
        {{ form_label(form.date, 'Date', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        {{ form_label(form.location, 'Location', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.location, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-md-6 mb-3">
        {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</div>
{{ form_end(form) }}
