{% extends 'base.html.twig' %}

{% block title %}FundTransactions{% endblock %}

{% block body %}
    <h1>FundTransactions</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fund_transaction.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ fund_transaction.type }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ fund_transaction.amount }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ fund_transaction.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ fund_transaction.date ? fund_transaction.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_funding_index') }}">back to list</a>

    <a href="{{ path('app_funding_edit', {'id': fund_transaction.id}) }}">edit</a>

    {{ include('funding/_delete_form.html.twig') }}
{% endblock %}
